* {
    box-sizing: border-box;
    font-family: "Poppins" , "sans-serif";
    padding: 0;
    margin: 0;
}

.hero {
    width: 100%;
    background-image: linear-gradient(45deg , #08001f , #30197d);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 900px;
    text-align: center;
    height: 271px;
    padding-bottom: 33px;
    background: rgb(235, 0, 255, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}
.dot {
    width: 150px;
    height: 150px;
    background-color: #eddc23;
}

.twice {
    width: 900px;
    height: fit-content;
    background-color: #002eff;
    border-radius: 20px;
    z-index: 10;
}
/* .container::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: red;
    top: -57px;
    z-index: -1;
    left: 0;
} */
.clock span {
    font-size: 80px;
    position: relative;
    margin-left: 13px;
    color: white;
    margin-right: 13px;
}

.clock  .hrs::before ,
.clock .mins::before,
.clock  .secs::before {
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    bottom: -37px;
    left: 0px;

}

.clock  .hrs::before {
    content: "Hours";
    font-size: 30px;
}

.clock .mins::before {
    content: "Minutes";
    font-size: 30px;
}
.clock .secs::before {
    content: "Seconds";
    font-size: 30px;
}